body, html
{
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  height: fit-content;
  user-select: none;
  width: 100%;
  font-weight: bold;
}

body
{
  display: none;
}

*
{
  font-family: 'Lato';
  font-weight: bold;
}

#showMenuButton, #toggleConsoleButton
{
  margin: 1em;
  height: fit-content;
  width: fit-content;
  font-size: 1.2em;
}

#toggleConsoleButton
{
  display: none;
}

#sideBar
{
  height: 100%;
  padding: 1.5em;
}

#menuTitle
{
  font-size: 2em;
  font-weight: bold;
  padding: 0 0 1em 0;
}

#devicesList
{
  padding: 0em;
}

#connectButton
{
  width: fit-content;
  margin-right: 1em;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
}

#disconnectButton
{
  height: fit-content;
  padding: 1em;
  font-weight: bold;
  font-size: 1em;
}

#menuMainButtonsList
{
  margin: 1em 0 1em 0;
}

.menuSmallBtn:first-of-type
{
  margin-left: 0;
}

.menuSmallBtn
{
  margin: 0 0 0 1em;
}

#devicePanel
{
  padding: 2em;
}

.devicePanelField
{
  padding: 1em;
}
