body, html
{
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100%;
  font-weight: bold;
}

::-webkit-scrollbar 
{
  width: 0px;
} 

#mainContent
{
  padding: 2em;
  height: 1000px;
}

#showMenuButton
{
  margin: 1em;
  height: fit-content;
  width: fit-content;
  font-size: 1.2em;
}

#sideBar
{
  height: 100%;
}

#menuTitle
{
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0 1em 0;
}

.menuSmallBtn
{
  margin: 0 0 1em 1em;
}